
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.btn{
    padding: 8px 10px;
}

/* heading style */

header{
    background: url("../images/banner/banner1.png"), lightgray -0.889px 0px / 100.111% 111.51% no-repeat;
    text-align: right;
    max-width: 1600px;
    margin: 0 auto;
    height: 800px;
}

header > div,
header,
.my-failures,
.my-failures div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

header > div{
    width: 525px;
    margin: 200px;
}

.main-heading{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    
}

header p{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0;
}


header .btn{
    border-radius: 5px;
    color: white;
    background: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: none;
}


/* failures section */

main{
    max-width: 1600px;
    margin: 0 auto;
}
    

.my-failures{
   margin: 50px 250px;
   background-color: rgba(241, 93, 34, 0.2);
   background: url("../images/person.png");
   background-repeat: no-repeat;
   height: 900px;
}


.my-failures div{
   width: 400px;
   align-items: flex-start;
}


.my-failures h2{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.my-failures p{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}

.my-failures ul li{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 10px;
}

.my-failures ul{
    padding-left: 20px;
    list-style-type: '\2713';
}


/* my plans */

.plan-section{
    text-align: center;
    margin: 0 250px;
}


.plan-section > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-section h2{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plan-section h3{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0;
}

.plan-section p{
    color:#737272;
    font-size: 25px;
    font-weight: 500;
}

.moto-section{
    margin: 130px 200px;
    background-image: url();
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%),url("../images/watch.png");
   
}


.moto-section div{
    padding: 30px;
    height: 300px;
}

.moto-section h2{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 450px;
}

.moto-section .btn{
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: white;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px;
}
